##gpu_isa_latency
##Floating Point Instructions
FADD 5 SP_units
FADD32I 5 SP_units
FCHK 5 SP_units
FFMA32I 5 SP_units
FFMA 5 SP_units
FMNMX 4 SP_units
FMUL 4 SP_units
FMUL32I 4 SP_units
FSEL 4 SP_units
FSET 4 SP_units
FSETP 4 SP_units
FSWZADD 4 SP_units
MUFU 16 SFU_units
HADD2 4 SP_units
HADD2_32I 4 SP_units
HFMA2 4 SP_units
HFMA2_32I 4 SP_units
HMMA 4 SP_units
HMUL2 4 SP_units
HMUL2_32I 4 SP_units
HSET2 4 SP_units
HSETP2 4 SP_units
DADD 44 DP_units
DFMA 48 DP_units
DMUL 44 DP_units
DSETP 44 DP_units
##Integer Instructions
BMMA 4 INT_units
BMSK 4 INT_units
BREV 4 INT_units
FLO 4 INT_units
IABS 4 INT_units
IADD 4 INT_units
IADD3 4 INT_units
IADD32I 4 INT_units
IDP 4 INT_units
IDP4A 4 INT_units
IMAD 5 INT_units
IMMA 4 INT_units
IMNMX 4 INT_units
IMUL 4 INT_units
IMUL32I 4 INT_units
ISCADD 4 INT_units
ISCADD32I 4 INT_units
ISETP 12 INT_units
LEA 4 INT_units
LOP 4 INT_units
LOP3 4 INT_units
LOP32I 4 INT_units
POPC 4 INT_units
SHF 4 INT_units
SHL 4 INT_units
SHR 4 INT_units
VABSDIFF 4 INT_units
VABSDIFF4 4 INT_units
##Conversion Instructions
F2F 42 DP_units
F2I 16 INT_units
I2F 16 INT_units
I2I 4 INT_units
I2IP 4 INT_units
FRND 16 SP_units
##Movement Instructions
MOV 4 INT_units
MOV32I 4 INT_units
MOVM 4 INT_units
PRMT 4 INT_units
SEL 4 INT_units
SGXT 4 INT_units
SHFL 4 INT_units
##Predicate Instructions
PLOP3 4 INT_units
PSETP 4 INT_units
P2R 4 INT_units
R2P 4 INT_units
##Load/Store Instructions
##LD 0 INT_units
##LDC 0 INT_units
LDG - LDS_units
LDL - LDS_units
LDS - LDS_units
##LDSM 0 INT_units
##ST 0 INT_units
STG - LDS_units
STL - LDS_units
STS - LDS_units
##MATCH 0 INT_units
##QSPC 0 INT_units
##ATOM 0 INT_units
##ATOMS 0 INT_units
##ATOMG 0 INT_units
##RED 0 INT_units
##CCTL 0 INT_units
##CCTLL 0 INT_units
##ERRBAR 0 INT_units
##MEMBAR 0 INT_units
##CCTLT 0 INT_units
##Uniform Datapath Instructions
R2UR 4 INT_units
S2UR 4 INT_units
UBMSK 4 INT_units
UBREV 4 INT_units
UCLEA 4 INT_units
UFLO 4 INT_units
UIADD3 6 INT_units
UIADD3.64 6 INT_units
UIMAD 5 INT_units
UISETP 4 INT_units
ULDC 4 INT_units
ULEA 4 INT_units
ULOP 4 INT_units
ULOP3 4 INT_units
ULOP32I 4 INT_units
UMOV 4 INT_units
UP2UR 4 INT_units
UPLOP3 4 INT_units
UPOPC 4 INT_units
UPRMT 4 INT_units
UPSETP 4 INT_units
UR2UP 4 INT_units
USEL 4 INT_units
USGXT 4 INT_units
USHF 4 INT_units
USHL 4 INT_units
USHR 4 INT_units
VOTEU 4 INT_units
##Texture Instructions
##TEX 0 INT_units
##TLD 0 INT_units
##TLD4 0 INT_units
##TMML 0 INT_units
##TXD 0 INT_units
##TXQ 0 INT_units
##Surface Instructions
##SUATOM 0 INT_units
##SULD 0 INT_units
##SURED 0 INT_units
##SUST 0 INT_units
##Control Instructions
BMOV 4 BRA_units
BPT 4 BRA_units
BRA 4 BRA_units
BREAK 4 BRA_units
BRX 4 BRA_units
BRXU 4 BRA_units
BSSY 4 BRA_units
BSYNC 4 BRA_units
CALL 4 BRA_units
EXIT 4 BRA_units
JMP 4 BRA_units
JMX 4 BRA_units
JMXU 4 BRA_units
KILL 4 BRA_units
NANOSLEEP 4 BRA_units
RET 4 BRA_units
RPCMOV 4 BRA_units
RTT 4 BRA_units
WARPSYNC 4 BRA_units
YIELD 4 BRA_units
##Miscellaneous Instructions
B2R 4 INT_units
BAR 4 INT_units
CS2R 5 INT_units
DEPBAR 4 INT_units
GETLMEMBASE 4 INT_units
LEPC 4 INT_units
NOP 4 INT_units
PMTRIG 4 INT_units
R2B 4 INT_units
S2R 21 INT_units
SETCTAID 4 INT_units
SETLMEMBASE 4 INT_units
VOTE 4 INT_units
// according to gpu_sim cuda_sim.cc
####
